.groupDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.title {
    margin-top: 2rem;
    font-size: 2rem;
    color: #ffffff;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 97%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.tableHeader {
    display: grid;
    grid-template-columns: 1.1fr 3fr 1.2fr;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 0.4rem;
}

.tableRow {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    background: rgba(47, 47, 47, 0.9);
    color: white;
    border-radius: 10px;
    padding: 0.8rem 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.tableRow:hover {
    transform: scale(1.02);
    background: #3f3f3f;
}

.icon {
    font-size: 1.5rem;
    color: #ff8bd8;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #ff55a5;
}

.studentLink {
    text-decoration: none; /* Убирает подчеркивание */
    color: inherit; /* Наследует цвет от родителя */
    transition: color 0.3s ease; /* Плавный переход для цвета */
}

.studentLink:hover {
    color: #ff8bd8; /* Цвет при наведении */
}