.homeTeacher {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
    background: linear-gradient(180deg, #ff8bd8, #ffabc2);
}

.title {
    margin-top: 3rem;
    font-size: 2.8rem;
    color: #ffffff;
    font-weight: 700;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 90%;
    margin-top: 3rem;
    padding: 2rem;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.card {
    flex: 0 1 280px; /* Адаптивная ширина карточек */
    height: 200px;
    background: linear-gradient(145deg, #2f2f2f, #3f3f3f);
    color: white;
    border-radius: 20px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: transform 0.4s ease, background 0.4s ease;
    text-decoration: none;
}

.card:hover {
    transform: scale(1.1);
    background: linear-gradient(145deg, #4f4f4f, #5f5f5f);
}

.card h3 {
    margin-top: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ffffff;
}

.card p {
    font-size: 1rem;
    color: #bbb;
    margin-top: 0.5rem;
}

.card:hover p {
    color: #ffffff;
}
