.footer {
    width: 100%; /* Растягиваем футер на всю ширину */
    background: #2f2f2f; /* Темный фон для соответствия дизайну */
    color: #bbb; /* Серый цвет текста */
    text-align: center; /* Центрируем текст */
    padding: 0.5rem 0; /* Добавляем небольшой отступ сверху и снизу */
    font-size: 0.8rem; /* Маленький шрифт */
    position: fixed; /* Фиксируем футер внизу страницы */
    bottom: 0;
    left: 0;
    z-index: 10;
}
