/* Table */
.table {
    display: flex;
    flex-direction: column; /* Располагаем строки вертикально */
    width: 100%; /* Растягиваем на всю ширину */
    max-width: 95vw;
    min-height: 60vh;
    background: rgba(47, 47, 47, 0.8);
    border-radius: 10px;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto; /* Центрируем таблицу */
}

/* Table Header */
.tableHeader {
    display: flex; /* Flexbox для заголовков */
    justify-content: space-between; /* Равномерное распределение столбцов */
    color: #aaa;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem; /* Отступы внутри заголовка */
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Table Rows */
/* Общий стиль строки */
.tableRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 1.2rem;
    text-align: center;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

/* Стиль для заблокированных строк */
.lockedRow {
    opacity: 0.5;           /* Светлее */
    pointer-events: none;  /* Отключаем клики */
    cursor: not-allowed;   /* Показать запретный курсор */
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    color: #aaa;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Иконки */
.icon {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #ff8bd8; /* Цвет при наведении */
}


.tableRow:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Меняем цвет фона */
    border-radius: 10px; /* Закругляем углы */
}

/* Table Cells */
.tableRow span,
.tableHeader span {
    flex: 1; /* Каждый столбец равномерно занимает доступное пространство */
    text-align: center; /* Центрируем текст внутри столбца */
}

/* Icons in Rows */
.tableRow .icon {
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.tableRow .icon:hover {
    color: #ff8bd8;
}




